.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
csv_to_seurat.R
generic_functions.R
test.R
.Rproj.user/*
/backup
felipe.txt
KIDS23.Rproj 
KIDS23-Team7.Rproj
test.R
test_MarkerExpression.csv
test_ybae/.app.R.swp
test_ybae/KIDS23.Rproj
test_ybae/csv_to_seurat.R
test_ybae/generic_functions.R
test_ybae/test.R

